
{% extends 'bootstrap/base.html' %}

{% block head %}
  {{ super() }}
  <title>
    {% block title %} N reinas {% endblock %}
  </title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}"></link>

{% endblock %}

  {% block body %}
      {% block navbar%}
        {% include 'navbar.html' %}
      {% endblock %}

<div class="container">
  <div class="row">
    <div class="col-sm">
      {% block content %}
        <h1>¿Estás perdido?</h1>
        <h3>{{error}}</h3>
      {% endblock %}
    </div>
  </div>
</div>



  {% block footer%}
    {% include 'footer.html' %}
  {% endblock %}
  {% endblock %}


