
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{url_for('index')}}">
        <img alt="Brand" src="{{url_for('static', filename='images/logo.png')}}">
      </a>
      <ul class="nav navbar-nav">
        <li><a  href="{{url_for('resuelve', n=1)}}">n = 1</a></li>
        <li><a  href="{{url_for('resuelve', n=2)}}">n = 2</a></li>
        <li><a  href="{{url_for('resuelve', n=3)}}">n = 3</a></li>
        <li><a  href="{{url_for('resuelve', n=4)}}">n = 4</a></li>
        <li><a  href="{{url_for('resuelve', n=5)}}">n = 5</a></li>
        <li><a  href="{{url_for('resuelve', n=6)}}">n = 6</a></li>
        <li><a  href="{{url_for('resuelve', n=7)}}">n = 7</a></li>
        <li><a  href="{{url_for('resuelve', n=8)}}">n = 8</a></li>
        <li><a  href="{{url_for('resuelve', n=9)}}">n = 9</a></li>
        <li><a  href="{{url_for('resuelve', n=10)}}">n = 10</a></li>
        <li><a  href="{{url_for('dbinsert', n=10)}}">Inserta DB n = 10</a></li>
        <li><a  href="{{url_for('pruebas')}}">Pytest</a></li>
      </ul>
    </div>
  </div>
</nav>